button{
    background-color: blue;
    color: aliceblue;
    

}
body{
    background-color: rgb(234, 209, 213);
    text-align: center;
    /* margin: auto; */
}
#main{
    border: 3px double red;
    border-radius: 20%;
    /* border: 3px  black; */
    margin: 100px;
    padding: 20px;
}