*{
    /* margin: 0;
    padding: 0; */
}
li{
    list-style: none;


} 
.container{
    /* display: flex; */
    /* flex-direction: row;  */
    border: 2px solid black;
    cursor: pointer;

    
}

ul{
    display: flex;
   
}
li{
    margin: 10px;
    background: lightblue;
    padding: 5px;
}
